mode = "local"
project = ""
shell = ""

[dirs]
project = []
python = "isolated"
data = "{{ .chezmoi.homeDir }}/.local/share/hatch"
cache = "{{ .chezmoi.homeDir }}/.cache/hatch"

[dirs.env]

[projects]

[publish.index]
repo = "main"

[template]
name = "{{ .name }}"
email = "{{ .email }}"

[template.licenses]
headers = true
default = [
    "MIT",
]

[template.plugins.default]
tests = true
ci = false
src-layout = true

[terminal.styles]
info = "bold"
success = "bold cyan"
error = "bold red"
warning = "bold yellow"
waiting = "bold magenta"
debug = "bold"
spinner = "simpleDotsScrolling"
