watch_stylesheet: false
watch_config: false
debug: false
update_check: true
show_systray: false

komorebi:
    start_command: "komorebic start --wkhd"
    stop_command: "komorebic stop --wkhd"
    reload_command: "komorebic stop --wkhd && komorebic start --wkhd"

bars:
    status-bar:
        enabled: true
        screens: ["*"]
        class_name: "yasb-bar"
        alignment:
            position: "top"
            center: false
        animation:
            enabled: true
            duration: 800
        blur_effect:
            enabled: false
            acrylic: false
            dark_mode: false
            round_corners: false
            border_color: None
        window_flags:
            always_on_top: false
            windows_app_bar: true
        dimensions:
            width: "100%"
            height: 35
        padding:
            top: 0
            left: 0
            bottom: 0
            right: 0
        widgets:
            left:
                [
                    "home",
                    "whkd",
                    "windows_workspaces",
                    "komorebi_active_layout",
                    "komorebi_workspaces",
                    "taskbar",
                ]
            center: ["active_window"]
            right:
                [
                    "ai_chat",
                    "vscode",
                    "weather",
                    "volume",
                    "microphone",
                    "bluetooth",
                    "clock",
                    "power_menu",
                    "komorebi_ctl",
                ]
widgets:
    home:
        type: "yasb.home.HomeWidget"
        options:
            label: "<span>\ue70f</span>"  #  (nf-dev-windows)
            menu_list:
                - { title: "Home", path: "~" }
                - { title: "Downloads", path: "C:\\Users\\kanvk\\Downloads" }
                - { title: "Documents", path: "C:\\Users\\kanvk\\Documents" }
                - { title: "Dev", path: "X:\\" }
            system_menu: true
            power_menu: false
            blur: true
            round_corners: true
            round_corners_type: "normal"
            border_color: ""
            distance: 10
            container_padding:
                top: 0
                left: 0
                bottom: 0
                right: 0
    whkd:
        type: "yasb.whkd.WhkdWidget"
        options:
            label: "<span>\uf11c</span>"
            special_keys:
                - key: "win"
                  key_replace: "\ue70f"
                - key: "ctrl"
                  key_replace: "\u2303"
                - key: "alt"
                  key_replace: "\u2325"
                - key: "shift"
                  key_replace: "\u21e7"
                - key: "left"
                  key_replace: "\uf060"
                - key: "right"
                  key_replace: "\uf061"
                - key: "up"
                  key_replace: "\uf062"
                - key: "down"
                  key_replace: "\uf063"
            label_shadow:
                enabled: true
                color: "black"
                radius: 3
                offset: [1, 1]
    windows_workspaces:
        type: "yasb.windows_desktops.WorkspaceWidget"
        options:
            label_workspace_btn: "\uf10c"
            label_workspace_active_btn: "\uf111"
            btn_shadow:
                enabled: true
                color: "black"
                radius: 3
                offset: [1, 1]
    komorebi_active_layout:
        type: "komorebi.active_layout.ActiveLayoutWidget"
        options:
            hide_if_offline: false
            label: "{icon} {layout_name}"
            layouts:
                [
                    "bsp",
                    "columns",
                    "rows",
                    "grid",
                    "scrolling",
                    "vertical_stack",
                    "horizontal_stack",
                    "ultrawide_vertical_stack",
                    "right_main_vertical_stack",
                ]
            layout_icons:
                bsp:                       "\uebeb"  #  (nf-cod-split_horizontal)
                columns:                   "\uebf7"  #  (nf-cod-split_vertical)
                rows:                      "\uec01"  #  (nf-cod-three_bars)
                grid:                      "\uf00a"  #  (nf-fa-th) - Fixed broken surrogate
                scrolling:                 "\uebf7"  #  (nf-cod-split_vertical)
                vertical_stack:            "\uebee"  #  (nf-cod-split_vertical)
                horizontal_stack:          "\uebf0"  #  (nf-cod-split_horizontal)
                ultrawide_vertical_stack:  "\uebee"  #  (nf-cod-split_vertical)
                right_main_vertical_stack: "\uebf1"  #  (nf-cod-split_horizontal)
                monocle:                   "\uf2d0"  #  (nf-fa-window_maximize) 
                maximized:                 "\uf2d0"  #  (nf-fa-window_maximize)
                floating:                  "\uf2d2"  #  (nf-fa-window_restore)
                paused:                    "\uf04c"  #  (nf-fa-pause)
                tiling:                    "\ue62a"  #  (nf-cod-layout)
            callbacks:
                on_left: "toggle_layout_menu"
                on_middle: "prev_layout"
                on_right: "next_layout"
            layout_menu:
                blur: true
                round_corners: true
                round_corners_type: "normal"
                border_color: "System"
                alignment: "left"
                direction: "down"
                offset_top: 6
                offset_left: 0
                show_layout_icons: true
            label_shadow:
                enabled: true
                color: "black"
                radius: 3
                offset: [1, 1]
    komorebi_workspaces:
        type: "komorebi.workspaces.WorkspaceWidget"
        options:
            label_offline: "Komorebi Offline"
            label_workspace_btn: "{index}"
            label_workspace_active_btn: "[{index}]"
            label_workspace_populated_btn: "{index}"
            label_default_name: ""
            label_zero_index: false
            hide_empty_workspaces: false
            hide_if_offline: false
            animation: true
            enable_scroll_switching: true
            toggle_workspace_layer:
                enabled: false
                tiling_label: "Tiling"
                floating_label: "Floating"
            app_icons:
                enabled_populated: false
                enabled_active: false
                size: 12
                max_icons: 0
                hide_label: false
                hide_duplicates: false
                hide_floating: false
            btn_shadow:
                enabled: true
                color: "black"
                radius: 3
                offset: [1, 1]
    taskbar:
        type: "yasb.taskbar.TaskbarWidget"
        options:
            icon_size: 16
            tooltip: true
            show_only_visible: false
            strict_filtering: true
            monitor_exclusive: true
            animation:
                enabled: true
            preview:
                enabled: false
                width: 240
                delay: 400
                padding: 30
                margin: 15
            title_label:
                enabled: false
                show: "always"
                min_length: 10
                max_length: 100
            ignore_apps:
                processes: []
                titles: []
                classes: []
    active_window:
        type: "yasb.active_window.ActiveWindowWidget"
        options:
            label: "{win[title]}"
            label_alt: ""
            label_no_window: ""
            label_icon: true
            label_icon_size: 12
            max_length: 120
            max_length_ellipsis: "..."
            monitor_exclusive: true
    ai_chat:
        type: "yasb.ai_chat.AiChatWidget"
        options:
            label: "<span>\uf086</span>"
            chat:
                blur: true
                round_corners: true
                round_corners_type: "normal"
                border_color: "system"
                alignment: "center"
                direction: "down"
                offset_left: 0
                offset_top: 6
            icons:
                send: "\uf1d9"     #  (nf-fa-paper_plane) - Send message
                stop: "\uf04d"     #  (nf-fa-stop) - Stop generation
                clear: "\uf1f8"    #  (nf-fa-trash) - Clear chat
                assistant: "\uebca" #  (nf-cod-hubot) - AI assistant
            notification_dot:
                enabled: false
                corner: "top_right"
                color: "red"
                margin: [0, 2]
            callbacks:
                on_left: "toggle_chat"
            providers:
                - provider: "Ollama"
                  api_endpoint: "http://localhost:11434/v1"
                  credential: "ollama"
                  models:
                      - name: "gemma3:27b-it-qat"
                        label: "Gemma3 27b"
                      - name: "gemma3:12b-it-qat"
                        label: "Gemma3 12b"
    vscode:
        type: "yasb.vscode.VSCodeWidget"
        options:
            label: "<span>\ue70c</span>"
            label_alt: "<span>\ue70c</span> recents"
            menu_title: "VS Code Recents"
            max_field_size: 50
            folder_icon: "\uf07c"  #  (nf-fa-folder) - Folder icon
            file_icon: "\uf15b"    #  (nf-fa-file) - File icon
            truncate_to_root_dir: false
            hide_folder_icon: false
            hide_file_icon: false
            max_number_of_folders: 5
            max_number_of_files: 10
            modified_date_format: "Date modified: %Y-%m-%d %H:%M"
            cli_command: "code"
            menu:
                blur: true
                round_corners: true
                round_corners_type: "small"
                alignment: "center"
                offset_top: 0
    weather:
        type: "yasb.weather.WeatherWidget"
        options:
            label: "<span>{icon}</span> {temp}"
            label_alt: "{location}: {conditions}, Min {min_temp}, Max {max_temp}, Humidity {humidity}"
            api_key: env
            update_interval: 600 #Update interval in seconds, Min 600
            hide_decimal: true
            location: env
            units: "imperial"
            callbacks:
                on_left: "toggle_card"
            icons:
                sunnyDay:      "\ue30d"  #   (nf-weather-day_sunny)
                clearNight:    "\ue32b"  #   (nf-weather-night_clear)
                cloudyDay:     "\ue302"  #   (nf-weather-day_cloudy)
                cloudyNight:   "\ue32e"  #   (nf-weather-night_cloudy)
                rainyDay:      "\ue308"  #   (nf-weather-day_rain)
                rainyNight:    "\ue333"  #   (nf-weather-night_rain)
                snowyDay:   "\ue30a"  #   (nf-weather-day_snow)
                snowyNight: "\ue335"  #   (nf-weather-night_snow)
                blizzardDay:   "\ue31a"  #   (nf-weather-snow)
                default:       "\ue30d"  #   (nf-weather-day_sunny)
            weather_card:
                blur: True
                round_corners: True
                round_corners_type: "normal"
                border_color: "#45475a"
                alignment: "right"
                direction: "down"
                distance: 6
                icon_size: 48
    volume:
        type: "yasb.volume.VolumeWidget"
        options:
            label: "<span>{icon}</span> {level}"
            label_alt: "<span>{icon}</span> {level}"
            volume_icons:
                - "\ueee8"  #  (nf-fa-volume_xmark) - Mute
                - "\uf026"  #  (nf-fa-volume_off) - 0-10% volume
                - "\uf027"  #  (nf-fa-volume_down) - 11-30% volume
                - "\uf027"  #  (nf-fa-volume_down) - 31-60% volume
                - "\uf028"  #  (nf-fa-volume_up) - 61-100% volume
            audio_menu:
                blur: True
                round_corners: True
                round_corners_type: "normal"
                border_color: "#45475a"
                alignment: "right"
                direction: "down"
                distance: 6
                show_apps: true
                show_app_labels: true
                show_app_icons: true
                show_apps_expanded: true
            callbacks:
                on_left: "toggle_volume_menu"
                on_right: "toggle_mute"
                on_middle: "do_nothing"
    microphone:
        type: "yasb.microphone.MicrophoneWidget"
        options:
            label: "<span>{icon}</span> {level}"
            label_alt: "<span>{icon}</span> {level}"
            mute_text: "mute"
            icons:
                normal: "\uf130"  #  (nf-fa-microphone) - Microphone active
                muted: "\uf131"   #  (nf-fa-microphone_slash) - Microphone muted
            mic_menu:
                blur: true
                round_corners: true
                round_corners_type: "normal"
                border_color: "system"
                alignment: "right"
                direction: "down"
            callbacks:
                on_left: "toggle_mic_menu"
                on_right: "toggle_mute"
                on_middle: "do_nothing"
            label_shadow:
                enabled: true
                color: "black"
                radius: 3
                offset: [1, 1]
    bluetooth:
        type: "yasb.bluetooth.BluetoothWidget"
        options:
            label: "<span>{icon}</span> {device_count}"
            label_alt: "{device_name}"
            label_no_device: "No devices connected"
            label_device_separator: ", "
            max_length: 50
            max_length_ellipsis: "..."
            icons:
                bluetooth_on:        "\uf294"  #  (nf-fa-bluetooth_b) - Classic Bluetooth Logo
                bluetooth_connected: "\uf293"  #  (nf-fa-bluetooth) - Solid/Bold Logo indicating connection
                bluetooth_off:       "\ue920"  #  (nf-feather-bluetooth_off) - Clean "Slashed" Bluetooth icon
            callbacks:
                on_left: "toggle_label"
                on_right: "exec cmd.exe /c start ms-settings:bluetooth"
            label_shadow:
                enabled: true
                color: "black"
                radius: 3
                offset: [1, 1]
    clock:
        type: "yasb.clock.ClockWidget"
        options:
            label: "<span>\uf017</span>{%I:%M:%S %p |  %a %d %b}"
            label_alt: "{%a, %d %b %H:%M:%S}"
            timezones: [] # Looking up time zone info from registry
            calendar: 
                blur: true
                round_corners: true
                round_corners_type: "normal"
                border_color: "system"
                alignment: "center"
                direction: "down"
                offset_top: 6
                offset_left: 0
                show_holidays: false
                show_week_numbers: true
                show_years: true
                country_code: "US"
                holiday_color: "#FF6464"
                extended: false
    power_menu:
        type: "yasb.power_menu.PowerMenuWidget"
        options:
            label: "\u23FB"
            uptime: True
            blur: False
            blur_background: True
            animation_duration: 250
            button_row: 3
            buttons:
                signout:  ["\uf08b", "Sign out"]   #  (nf-fa-sign_out)
                shutdown: ["\u23FB", "Shut Down"]  #  Power symbol
                restart:  ["\uf021", "Restart"]    #  (nf-fa-refresh) - Circular arrow
                sleep:    ["\uf186", "Sleep"]      #  (nf-fa-moon_o)
                lock:     ["\uf023", "Lock"]       #  (nf-fa-lock)
                cancel:   ["\uf00d", "Cancel"]     #  (nf-fa-times)
    komorebi_ctl:
        type: "komorebi.control.KomorebiControlWidget"
        options:
            label: "<span>\uf142</span>"
            icons:
                start: "\uead3"
                stop: "\uead7"
                reload: "\uead2"
            run_ahk: false
            run_whkd: true
            show_version: true
            komorebi_menu:
                blur: true
                round_corners: true
                round_corners_type: "normal"
                border_color: "System"
                alignment: "left"
                direction: "down"
                offset_top: 6
                offset_left: 0
            label_shadow:
                enabled: true
                color: "black"
                radius: 3
                offset: [1, 1]
